# Interface Gráfica Web
streamlit>=1.32.0
# Manipulação de Dados e Computação Numérica
pandas>=2.0.0
numpy>=1.24.0
# Visualização de Dados Interativa
plotly>=5.19.0
statsmodels>=0.14.0
# Biblioteca Central de Inteligência Artificial e Machine Learning
scikit-learn>=1.4.0
# Conexão com Modelos Generativos na Nuvem (Google AI Studio / Gemini)
requests>=2.31.0

